* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  height: 850px;
  width: 60%;
  border: 8px solid rgb(193, 207, 233);
  background-color: rgb(180, 175, 175);
  margin: auto;
}
.first {
  height: 150px;
  width: 100%;
  /* border: 1px solid black; */
}
.font {
  font-size: 127px;
  margin-top: -146px;
  /* margin-right: 334px; */
  margin-left: 162px;
}
.first-1 {
  height: 20px;
  width: 61%;
  /* border: 1px solid black; */
  margin-top: -26px;
  margin-left: 183px;
  font-size: 17px;
}
#image {
  height: 133px;
  width: 133px;
  /* margin-left: 87%; */

  margin-left: 82%;
  margin-top: 13px;
}
#image-1 {
  height: 130px;
  width: 130px;
  position: absolute;
  right: 70%;
  margin-top: 12px;
}
.second {
  height: 90px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  background-color: rgb(204, 218, 244);
}
.box {
  height: 80px;
  width: 40%;
  /* border: 1px solid black; */
  margin: 5px;
  background-color: rgb(254, 254, 251);
}
.third {
  height: 120px;
  width: 100%;
  /* border: 1px solid black; */
}
.font-1 {
  font-size: 55px;
}
.box-1 {
  /* height: 80px; */
  /* width: 40%; */
  /* border: 1px solid black; */
  /* margin: 5px; */
  color: rgb(39, 63, 158);
  /* align-items: center; */
  background-color: rgb(223, 231, 250);
  font-size: 18px;
}
#space {
  margin-left: 5px;
  margin-top: 8px;
}
.color {
  color: red;
}
.fourth {
  height: 80px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}
.size {
  height: 80px;
  width: 100%;
  /* border: 1px solid black; */
  font-size: 22px;
  margin-left: 21px;
}
.stop {
  font-size: 51px;
  margin-right: 1px;
}
.five {
  height: 348px;
  width: 100%;
  /* border: 1px solid black; */
}
.image-2 {
  height: 329px;
  width: 600px;
  float: right;
}
.headline {
  margin-left: 5px;
  font-size: 13px;
}
.image-3 {
  height: 120px;
  width: 200px;
  position: absolute;
  border: 1px solid black;

  top: 704px;
  background-color: currentcolor;
  left: 623px;
}
.photo {
  margin-top: -20px;
  margin-left: 523px;
}
body {
}
.word {
  font-size: 25px;
}
