* {
  margin: 0px;
  padding: 0px;
}
/* body {
  background-color: brown;
} */
.nav-container {
  width: 1500px;
  height: 35px;
  border: 1px solid black;
}
.parent {
  border: 2px solid black;
  margin-top: 0px;
  width: 1480px;
  height: 1200px;
  display: flex;
  justify-content: center;
}
.child {
  margin: 20px 10px;
  border: 2px solid black;
  width: 1500px;
  height: 300px;
  display: inline-block;
  background-color: wheat;
}
.child-1 {
  margin-top: 23px;
}
.word-1 {
  margin-top: 200px;
}
