/* .icons {
  font-size: 30px;
  margin-left: 30px;
  display: flex;
  margin-top: 30px;
} */
.sidebar {
  margin-left: 15px;
  color: rgb(44, 43, 43);
}
.icons-1 {
  font-size: 20px;
  margin-left: 30px;
  display: flex;
  margin-top: 30px;
}
#link {
  text-decoration: none;
}

.main-div {
  /* display: flex; */
  width: 135px;
  border: 1px solid black;
}
