* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* .all child {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.parent {
  width: 40%;
  height: 554px;
  background-color: rgba(248, 242, 242, 0.819);
  /* display: flex; */
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  border: 1px solid black;
}
.company {
  width: 100%;
  height: 80px;
  /* background-color: rgba(248, 242, 242, 0.819); */
  display: flex;
  justify-content: center;
}
h2.title {
  margin-top: 5%;
  color: burlywood;
}

.company-2 {
  width: 80%;
  /* background-color: rgb(243, 251, 241); */
  margin: auto;
  height: 80px;
  /* display: flex; */
  /* height: 50px; */
}
.title-2 {
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* margin-top: 20px; */
  /* background-color: rgb(13, 145, 90);
  margin: auto; */
}
s.title-3 {
  display: flex;
  justify-content: center;
  width: 49%;
  /* margin: auto; */
  align-items: center;
}
.title-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 69px; */
}
.top {
  margin-top: 20px;
}
.parent-2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
/* a {
  /* margin-right: 1%; */
.child {
  margin-right: 60px;
}

.parent-3 {
  /* display: flex; */
  /* margin-left: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.c {
  /* margin-right: 20px; */
}
.search-2 {
  margin-left: 15%;
  display: flex;
  height: 30px;
  width: 38%;
  margin-right: 20px;
}
.search-1 {
  height: 30px;
  width: 38%;
  margin-left: 92px;
}
.e {
  margin-left: 81px;
  margin-top: 20px;
}
.search-3 {
  margin-left: 83px;
  height: 33px;
  width: 79%;
}
.f {
  margin-left: 81px;
  margin-top: 20px;
}
.search-4 {
  margin-left: 83px;
  height: 33px;
  width: 79%;
}
.g {
  margin-left: 79px;
  margin-top: 20px;
}
.button {
  background-color: brown;
  height: 15px;
  width: 15px;
  display: flex;
  margin-left: 50px;
}
.parent-4 {
  display: flex;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.parent-5 {
  display: flex;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.button-2 {
  width: 70%;
  height: 50px;
  background-color: burlywood;
}
